extends ../layouts/main-layout

block page-content
    main
        if products && products.length > 0
            ul.cart__item-list
                each product in products
                    li.cart__item 
                        h1 #{product.title}
                        h2 Quantity: #{product.quantity}
                        form(action="/cart/delete-product", method="post")
                            input(type="hidden", value=product._id, name="productId")
                            button.btn.danger(type="submit") Delete
            form(action="/create-order", method="post")
                button.btn(type="submit") Checkout
        else
            h1 No Product in cart